html{
    font-size: 14px;
    color: black;
    background-color: aliceblue;
    text-align: left;
}

/* as declarações são separadas por ; */ 

.grupo {
    border: 1px;
    margin: 2px;
    font-size: 2em;
    color: darkblue;
    text-shadow: 2px 2px 4px black ;
    width: 60%;
    height: 50px;
}

.cor-div{
    background-color: aqua;
}

.titulo{
    font-family: "Playfair Display", sans-serif;
}
.tamanho-fixo{
width: 100px;
height: 50px;
}

.span{
    color: red;
    background-color: lightblue ;
    font-weight: bold;
}
.wrapper {
    display: flex;
    margin: 5px;
    gap: 5px;
}